@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
    --cor-padrao-azul: #11335b;
    --cor-hover: #87bdfcc4;
    --cor-primaria: #333;

}

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Menu principal */
.dp-menu ul {
    /* background-color: var(--cor-padrao-azul); */
    list-style-type: none;
    padding: 0;
}

.dp-menu ul li {
    display: inline;
    position: relative;
}

.dp-menu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background .3s;
}

.dp-menu ul li a:hover {
    background-color: var(--cor-hover);
}

/* Sub menu */
.dp-menu ul ul {
    display: none;
    position: absolute;
    width: 145px;
    left: 0;
    opacity: 0;
    transition: all .6s;

}

.dp-menu ul li:hover ul {
    display: block;
    opacity: 1;

}

.dp-menu ul ul li a {
    display: block;

}

body {
    background-image: url("../files/fundo_principal.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    position: absolute;
    top: 0;
    right: 220px;
    /* width: 100%; */
    /* padding: 20px 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav .logo_geap {
    position: relative;
    max-width: 200px;
    left: -70px;
}

/* nav ul {
    position: relative;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
} */

.imagemBiblioteca {
    position: absolute;
    top: -70px;
    left: 675px;
}

.content .textBox {
    position: relative;
    max-width: 600px;
    bottom: 20px;
}

.content .textBox p {
    padding-top: 20px;
}

.content .textBox h2 {
    color: #11335b;
    font-size: 2em;
    line-height: 1.4em;
    font-weight: 800;

}

/* .saibaMais {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #11335b;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
} */

/* .selectBox .optionsContent {
    background: #11345b;
    color: white;
    max-height: 0;
    width: 225px;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;

    order: 1;
} */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    color: rgb(0, 0, 0);
    height: 40px;
    text-align: center;
}