@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
    --cor-padrao-azul: #11335b;
    --cor-hover: #87bdfcc4;
    --cor-primaria: #333;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Menu principal */
.dp-menu {
    top: 20px;
}

.dp-menu ul {
    /* background-color: var(--cor-padrao-azul); */
    list-style-type: none;
    padding: 0;
}

.dp-menu ul li {
    display: inline;
    position: relative;
}

.dp-menu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background .3s;
}

.dp-menu ul li a:hover {
    background-color: var(--cor-hover);
}

/* Sub menu */
.dp-menu ul ul {
    display: none;
    position: absolute;
    width: 145px;
    left: 0;
    opacity: 0;
    transition: all .6s;

}

.dp-menu ul li:hover ul {
    display: block;
    opacity: 1;

}

.dp-menu ul ul li a {
    display: block;

}

/* Formatação do dropdown */
.dropbtn {
    background-color: var(--cor-padrao-azul);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 175px;
    border-radius: 15px;
}

/* Posição do dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    right: -85px;
    top: 20px;
}

/* Conteúdo do dropdown (escondido pelo Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(146, 143, 143, 0.2);
    z-index: 1;
    border-radius: 15px;
    width: 175px;

}

/* Link dentro do dropdown */
.dropdown-content a {
    color: var(--cor-padrao-azul);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
}

/* Cor hover do dropwdown */
.dropdown-content a:hover {
    background-color: var(--cor-hover)
}

/* Mostra o dropdown menu no hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Muda a cor de fundo quando o dropdown é selecionado */
.dropdown:hover .dropbtn {
    background-color: #041f3d;
}

body {
    background-image: url("../files/fundo_principal.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    position: absolute;
    top: 0;
    /* right: 220px; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}


nav .logo_geap {
    position: relative;
    max-width: 200px;
    left: -70px;
}

.imagemBiblioteca {
    position: absolute;
    top: -70px;
    left: 675px;
}

.content .textBox {
    position: relative;
    max-width: 600px;
    bottom: 20px;
}

.content .textBox p {
    padding-top: 20px;
}

.content .textBox h2 {
    color: #11335b;
    font-size: 2em;
    line-height: 1.4em;
    font-weight: 800;

}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    color: rgb(0, 0, 0);
    height: 40px;
    text-align: center;
}