@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");


:root {
    --cor-padrao-azul: #11335b;
    --cor-hover: #87bdfcc4;
    --cor-primaria: #333;

}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
}

html,
body {
    height: 100vh;
    font-family: "Source Sans Pro";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1.6rem;
    background-image: url("../files/fundo_principal.png");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    max-width: 980px;

    margin: auto;
}

/* Logo da GEAP do menu principal */
header img {
    max-height: 60px;
    margin-bottom: 260%;
    margin-left: 30px;

}

nav {
    position: absolute;
    top: 2%;
    left: 25%;
    display: flex;
}

/* Menu principal */
header .dp-menu {
    top: 20%;
}

header .dp-menu ul {
    list-style-type: none;
    padding: 0;
}

header .dp-menu ul li {
    display: inline;
    position: relative;
}

header .dp-menu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background .3s;
}

header .dp-menu ul li a:hover {
    background-color: var(--cor-hover);
}

/* Sub menu */
header .dp-menu ul ul {
    display: none;
    position: absolute;
    width: 145px;
    left: 0;
    opacity: 0;
    transition: all .6s;

}

header .dp-menu ul li:hover ul {
    display: block;
    opacity: 1;

}

header .dp-menu ul ul li a {
    display: block;

}

section.main-body .imagemBiblioteca {
    position: absolute;
    right: 10%;
    top: 20%;
}

section.main-body .content .textBox {
    position: relative;
    max-width: 600px;
    right: 100%;
    bottom: 20px;
}

section.main-body .content .textBox p {
    padding-top: 20px;
}

section.main-body .content .textBox h2 {
    color: #11335b;
    font-size: 2em;
    line-height: 1.4em;
    font-weight: 800;

}

/* Formatação do dropdown */
section.main-body .dropdown .dropbtn {
    background-color: var(--cor-padrao-azul);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 175px;
    border-radius: 15px;
    
}

/* Posição do dropdown*/
section.main-body .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    right: 90%;
}

/* Conteúdo do dropdown (escondido pelo Default) */
section.main-body .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(146, 143, 143, 0.2);
    z-index: 1;
    border-radius: 15px;
    width: 175px;
    
    

}

/* Link dentro do dropdown */
section.main-body .dropdown-content a {
    color: var(--cor-primaria);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
    transition: all .6s;
}

/* Cor hover do dropwdown */
section.main-body .dropdown-content a:hover {
    background-color: var(--cor-hover)
}

/* Mostra o dropdown menu no hover */
section.main-body .dropdown:hover .dropdown-content {
    display: block;
}

/* Muda a cor de fundo quando o dropdown é selecionado */
section.main-body .dropdown:hover .dropbtn {
    background-color: #041f3d;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    color: rgb(0, 0, 0);
    height: 40px;
    text-align: center;
}